<!DOCTYPE html>
<html lang="en">
    <%- include('../components/head.ejs')  %> 
<body>
    <div class="max-w-screen-xl mx-auto my-10">
        <div class="flex flex-wrap -mx-4">
            <div class="w-full md:w-3/12 p-4">
               <%- include('../components/adminList.ejs') %> 
               </div>
                </div>
                <div class="w-full md:w-9/12 p-4">
                    <div class="bg-white p-5 rounded">
            
                        <% if(projects.length > 0) { %> 
                            <table id="table_id" class="display">
                                <thead>
                                    <tr>
                                        <th class="capitalize">name</th>
                                        <th class="capitalize">amount</th>
                                        <th class="capitalize">category</th>
                                        <th class="capitalize">status</th>
                                        <th class="capitalize">details</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <% projects.forEach(project => {   %> 
                                        <tr>
                                            <td><%= project.title.slice(0, 25)  %>... </td>
                                            <td><%= (project.amount).toLocaleString('en-US', {
                                                style: 'currency',
                                                currency: 'pkr',
                                              });  %> </td>
                                            <td class="font-medium text-gray-700 capitalize"><%= project.category  %> </td>
                                            <td><% if(project.status === 0) {   %> <span class="status bg-orange-600">under review</span> <% } else if(project.status === 1) { %> <span class="status bg-emerald-600">live</span> <% } else if(project.status === 2) {%> <span class="status bg-rose-600">rejected</span> <% } %>   </td>
                                            <td><a href="<%= `project/${project._id}` %> " class="btn btn-default py-1 text-sm px-3">details</a></td>
                                        </tr>
                                    <% }) %> 
                                    
                                </tbody>
                            </table>
                            <% } else { %> 
                                <p>no projects</p>
                                <% } %> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../assets/js/footer.js"></script>
</body>
</html>