<!DOCTYPE html>
<html lang="en">
<%- include('../components/head.ejs')  %> 
<body class="bg-gray-50">
    <%- include('../components/nav.ejs') %> 
    <div class="tail-container mt-10">
      <div class="flex flex-wrap -mx-5">
      <div class="w-full md:w-3/12 p-5">
        <%- include('../components/sidebar.ejs')  %> 
      </div>
      <div class="w-full md:w-9/12 p-5">
          <div class="bg-white p-6 rounded">
              
              <form class="col-xlg-6" method="POST" action="/post_password">
            <div class="group">
                <h3 class="heading mb-4 text-sm font-medium text-gray-500">update password</h3>
                <% if(errors.length > 0) { %>
                    <div style="margin-top: 20px">
                    <% errors.forEach(error => {  %>
                    <p class="error"><%= error.msg  %> </p> 
                    <% }) %> 
                </div>
                    <% } %>
            </div>
            <div class="mb-3">
                <input type="password" name="password" class="input" placeholder="Current password..." value="<%= fields.password ? fields.password: '' %>">
            </div>
            <div class="mb-3">
                <input type="password" name="newPassword" class="input" placeholder="New password..." value="<%= fields.newPassword ? fields.newPassword: '' %>">
            </div>
            <div class="mb-3">
                <input type="submit" value="update password" class="btn btn-default">
            </div>
        </form>
          </div>
      </div>
      </div>
      <!-- close row -->
    </div>
    <!-- close container -->
</body>
</html>